@import "./reset.css";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  #app {
    position: relative;
    cursor: pointer;
    background-color: #000;
    border: 8px solid #333;
    box-sizing: content-box;
    &.cover {
      background-image: url("/src//static/images//cover//cover.png");
      background-size: cover;
      background-position: center;
    }
    canvas {
      position: absolute;
    }
  }
}
